@model IEnumerable<RingoMediaTask.Models.Reminder>

@{
    ViewData["Title"] = "Reminders";
}

<h1>Reminders</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ReminderTitle)</th>
            <th>@Html.DisplayNameFor(model => model.ReminderDateTime)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ReminderTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.ReminderDateTime)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReminderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReminderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReminderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
